{% extends 'base.html' %}

{% block title %}Submit Form{% endblock %}

{% block content %}
<section class="section box">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title has-text-centered font">Novo cliente</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ client_form.as_p }}
                    <div class="col-md-12 text-end">
                        <a class="btn btn-secondary" href="{% url 'client_view' %}">Cancelar</a>
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-save"></i> Salvar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}